<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Pratice Pharmasan</title>
    <link rel='stylesheet' href='/resources/css/style.css'>
    <header>
        <%- include('partials/header'); %>
    </header>
</head>
<body>
    <% if (type === "users") { %>
        <div class="register-form">
            <h1>New User</h1>
            <form action="/save/users" method="POST">
                <label for="user">Username</label>
                <input type="text" name="user" id="user" tabindex="1" required>
    
                <label for="name">Full Name</label>
                <input type="text" name="name" id="name" tabindex="2" required>
    
                <label for="rol">Rol</label>
                <select name="rol" id="rol" class="select-css" tabindex="3">
                    <option value="administrator" selected>Administrator</option>
                    <option value="seller">Seller</option>
                </select>
    
                <label for="pass">Password</label>
                <input type="password" name="pass" id="pass" tabindex="4" required>
    
                <div>
                    <input type="submit" class="btn-save" tabindex="5" value="Save">
                    <a href="/users" class="btn-cancel">Cancel</a>
                </div>
            </form>
        </div>
    <% } %>
    <% if (type === "clients") { %>
        <div class="register-form">
            <h1>New Client</h1>
            <form action="/save/clients" method="POST">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" tabindex="1" required>
    
                <label for="id_document">Id document</label>
                <input type="text" name="id_document" id="id_document" tabindex="2" required>
    
                <label for="email">Email</label>
                <input type="email" name="email" id="email" tabindex="3" required>
    
                <label for="address">Address</label>
                <input type="text" name="address" id="address" tabindex="4" required>
    
                <div>
                    <input type="submit" class="btn-save" tabindex="5" value="Save">
                    <a href="/clients" class="btn-cancel">Cancel</a>
                </div>
            </form>
        </div>
    <% } %>





    
</body>
</html>